// Navigation Styles here

.bigcontainer {
  border-bottom: 2px dashed @navigation-border;
  padding      : 20px 0;

}

.nav {
  display        : flex;
  justify-content: space-between;

  @media (@mobile) {
    flex-wrap: wrap;

    h1 {
      width     : 100%;
      text-align: center;
    }
  }

  .breaker {
    @media(min-width:500px) {
      // display: none;
      width:20%;
    }

    @media (@mobile) {
      flex-basis: 100%;
    }
  }

  a:link,
  a:visited,
  a {
    text-decoration: none;
    color          : black;
    font-size      : 1.8rem;
    padding        : 12px 0 0 0;

    @media (@mobile) {
      font-size: 2rem;
      padding  : 0 8px;
    }
  }
}